
body {
  box-sizing: border-box;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(197, 243, 208);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

span {
  font-size: 2rem;
  font-weight: bold;
}

#game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 10px auto;
  border: 2px solid red;
}

#category-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid orange ;
}

#clue-board {
  flex-direction: column;
  border: 2px solid blue;
}

.clue-row {
  display: flex;
  border: 2px solid rgb(255, 0, 234); /*This helps to see the actual section in the console */
  margin: 5px;
}

.clue-box {
  display: flex;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  flex: 1;
  border: 2px solid green;
}
